@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("./assets/mountains-5120x2880-waves-black-green-25627.jpeg");
  background-size: cover;
  background-repeat: repeat;
  overflow-y: auto;
  padding-bottom: 60px;
  margin: 0;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  height: 60px;
}

.header {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

.no-bullet {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
